[submodule "jsSubstitute-npm"]
	path = jsSubstitute-npm
	url = https://github.com/testpossessed/jsSubstitute-npm.git
	branch = master
[submodule "jsSubstitute-bower"]
	path = jsSubstitute-bower
	url = https://github.com/testpossessed/jsSubstitute-bower.git
	branch = master
